/* Index.html */

.jsWord{
    color:blue;
}
#dropdown {
    min-width: 30rem;
    position: absolute;
    padding: 0;
    background: linear-gradient(to bottom, #ffab23 5%, #e6cb00 100%);
    
    
}
.dropdown-item {
    margin-left: 1rem;
    font-weight: 600 !important;
    color: #0d0d0d !important;
    border-radius:5px;
    
}
    .dropdown-item:hover {
        background-color: #0d0d0d !important;
        color:white !important;
    }
@media screen and (max-width: 670px) {
    #dropdown {
        min-width: 22rem !important;
        left: -8rem !important;
    }
    .dropdown-item {
        padding: .05rem 0.5rem !important;
        margin-left: 1.1rem !important;
        max-width:6.5rem;
        margin-top:0.5rem;
        margin-bottom:0.5rem;
    }
}
@media screen and (max-width: 420px) {
    #dropdown {
       left: -11.6rem !important;
        
    }
}

.navbar-brand {
    font-weight: 800;
    padding-top: 0 !important;
    color: #0d0d0d !important;
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}
#challengeCode, #challengeCode2 {
    background-color: #a6a6a6;
    color: black;
    font-weight: 500;
    border-radius: 0.5rem;
    font-family: monospace;
}
#dropdownMenuButton {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #0d0d0d;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
}

    #dropdownMenuButton:hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
    }

    #dropdownMenuButton:active {
        position: relative;
        top: 1px;
    }
/*End*/  

/*Challenge1*/
.drumDiv {
    width: 5rem;
    height: 5rem;
    border: solid 2px #00ff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #262626;
    border-radius: 1rem;
    cursor: pointer;
}

.drumCharacter{
    font-size:24px;
    font-weight:600;
}

.drumSound{
 color:orange;
}
#challengeContainer {
    border-radius: 0.5rem;
    padding: 20px;
}
@media screen and (max-width: 420px) {
    #drumCollection {
        flex-direction:column !important;
    }

    .drumDiv{
        margin-top:1rem;
        margin-bottom:1rem;
    }
}

#challengeContainer{
    background-color:dimgray;
}
/*End of 1 challenge*/

/*Challenge 2*/
#clock{
    display:flex;
    flex-direction:column;
    align-items:center;
    color:black;
}
#firstCircle::after{
    content:'';
    position:absolute;
    background-color:black;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:11;
    border-radius:50%;
    width:15px;
    height:15px;
}
#firstCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    border:0.5rem solid black;
    position:relative;
}
    #firstCircle .number {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
    }

.number1 {transform: rotate(30deg);}
.number2 { transform: rotate(60deg);}
.number3 {transform: rotate(90deg);}
.number4 {transform: rotate(120deg);}
.number5 {transform: rotate(150deg);}
.number6 {transform: rotate(180deg);}
.number7 {transform: rotate(210deg);}
.number8 { transform: rotate(240deg);}
.number9 {transform: rotate(270deg);}
.number10 { transform: rotate(300deg);}
.number11 {transform: rotate(330deg);}

#firstCircle .hand{
    --rotation:0;
    position:absolute;
    bottom:50%;
    left:50%;
    transform-origin:bottom;
   
}

#firstCircle .hour {
    width: 5px;
    height: 40%;
    border-radius: 10px;
    background: black;
    transform: translateX(-50%) ;
}
#firstCircle .minute {
    width: 4px;
    height: 38%;
    border-radius: 10px;
    background: black;
    transform: translateX(-50%);
}

#firstCircle .second {
    width: 2px;
    height: 36%;
    border-radius: 10px;
    background: red;
    transform: translateX(-50%);
}
/*End of challenge2*/

/*Challenge3*/
#challenge3Img {
    margin: 2rem;
    padding: 0;
    filter: blur(0);
    border:10px solid blue;
}


#controls {
    align-items: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    line-height: 1rem;
    font-size: 20px;
    font-family:monospace;
}
/*End of challenge3*/

/*Challenge5*/
.challenge_5 {
display:flex;
flex-direction:row;

}
.img_challenge5 {
    min-height: 40vh;
    max-width: 20%;
    max-height: 40vh;
    object-fit: cover;
    transition :transform 2s;
}

/*End of challenge 5*/
/*Challenge 6 */
#City_research {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#City_research li a {
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    padding: 6px;
    font-size: 18px;
    color: black;
    display: block
}
    #City_research li a:hover {
        background-color: #ccffcc;
    }
#show_more {
display:none;
}
/*End of challenge 6*/

/*Challenge 8*/
#canvas_draw {
    height: 500px;
    margin-top: 5px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
}
/*End of challenge 8*/

/*Challenge 10*/
.inbox {
    max-width: 400px;
    background: white;
    border-radius: 5px;
    color: black;
    margin: auto;
    padding: 20px;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

    .item p {
    margin:0;
    padding-left:10px;
    
    }
/*End of challenge 10*/

/*Challenge 11*/
.player {
display:flex;
padding:20px;
flex-direction:column;
}
#player_video {
    margin: auto;
    width: -webkit-fill-available;
}
#video_controls {
    background: #1a1a1a;
    padding: 10px;
    opacity: 0;
    position: absolute;
    display: flex;
}
.mouseOn {
    visibility: visible !important;
    animation-name: fade-in;
    animation-duration: 1s;
}
.mouseOut {
    animation-name: fade-out;
    animation-duration: 1s;
    opacity: 0;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}
@keyframes fade-out {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0;
    }
}

#playPausebtn,#slider,#videoTime,#mute,#volume_slider,#fullscreen_btn {
    margin-right: 20px;
    cursor:pointer;
}
#playPausebtn, #mute, #fullscreen_btn {
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 0px 11px;
    text-decoration: none;
}

 #playPausebtn:hover, #mute:hover, #fullscreen_btn:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        background-color: #476e9e;
  }
/*End of challenge 11*/


 /*Challenge 13*/

#body-js13  .site-wrap {
    color:black;
    max-width: 700px;
    margin: 100px auto;
    background: white;
    padding: 40px;
    text-align: justify;
}

#body-js13  .align-left {
    float: left;
    margin-right: 20px;
}

#body-js13  .align-right {
    float: right;
    margin-left: 20px;
}

#body-js13  .slide-in {
    opacity: 0;
    transition: all .5s;
}

#body-js13  .align-left.slide-in {
    transform: translateX(-30%) scale(0.95);
}

#body-js13  .align-right.slide-in {
    transform: translateX(30%) scale(0.95);
}

#body-js13  .slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
}
/*End of challenge 13*/

/*Challenge 15*/
.wrapper {
    padding: 20px;
    max-width: 350px;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    margin: auto;
    padding: 20px;
    color: black;
}


.plates {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

    .plates li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px 0;
        font-weight: 100;
        display: flex;
        cursor: pointer;
    }

    .plates label {
        flex: 1;
        cursor: pointer;
        padding-top: 5px;
        padding-left: 20px;
    }

    .plates input {
       margin:auto;
       cursor:pointer;
    }

  

.add-items {
    margin-top: 20px;
}

    .add-items input {
        padding: 10px;
        outline: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
/*End of challenge 15*/

/*challenge 16*/
.hero {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.hero h1 {
    text-shadow: 10px 10px 0 rgba(0,0,0,1);
    font-size: 100px;
}

/*challenge 19*/
.photobooth {
    background: white;
    max-width: 150rem;
    margin: 2rem auto;
    border-radius: 2px;
}

    /*clearfix*/
    .photobooth:after {
        content: '';
        display: block;
        clear: both;
    }

.photo {
    width: 100%;
    float: left;
}

.player {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
}

/*
  Strip!
*/

.strip {
    padding: 2rem;
}

    .strip img {
        width: 100px;
        overflow-x: scroll;
        padding: 0.8rem 0.8rem 2.5rem 0.8rem;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        background: white;
    }

    .strip a:nth-child(5n+1) img {
        transform: rotate(10deg);
    }

    .strip a:nth-child(5n+2) img {
        transform: rotate(-2deg);
    }

    .strip a:nth-child(5n+3) img {
        transform: rotate(8deg);
    }

    .strip a:nth-child(5n+4) img {
        transform: rotate(-11deg);
    }

    .strip a:nth-child(5n+5) img {
        transform: rotate(12deg);
    }

/*Voice recognize*/


.words {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    color:black;
}

.words:before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
}

/*Geolocation based Speedometer and Compass*/
#map {
    margin: auto;
}