/* Index.html */

.jsWord {
    color: #6666ff;
}

#dropdown {
    min-width: 30rem;
    position: absolute;
    padding: 0;
    background: linear-gradient(to bottom, #ffab23 5%, #e6cb00 100%);
}

.dropdown-item {
    margin-left: 1rem;
    font-weight: 600 !important;
    color: #0d0d0d !important;
    border-radius: 5px;
    cursor: pointer;
}

    .dropdown-item:hover {
        background-color: #0d0d0d !important;
        color: white !important;
    }

@media screen and (max-width: 670px) {
    #dropdown {
        min-width: 22rem !important;
        left: -8rem !important;
    }

    .dropdown-item {
        padding: .05rem 0.5rem !important;
        margin-left: 1.1rem !important;
        max-width: 6.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 420px) {
    #dropdown {
        left: -11.6rem !important;
    }
}

.navbar-brand {
    font-weight: 800;
    padding-top: 0 !important;
    color: #0d0d0d !important;
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

#challengeCode{
    background-color: #262626;
    color: #f2f2f2;
    font-weight: 500;
    border-radius: 0.5rem;
    font-family: monospace;
}
    #challengeCode a {
        color: #f2f2f2;
        cursor:default;
    }
    #dropdownMenuButton {
        box-shadow: 0px 1px 0px 0px #fff6af;
        background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
        background-color: #ffec64;
        border-radius: 6px;
        border: 1px solid #ffaa22;
        display: inline-block;
        cursor: pointer;
        color: #0d0d0d;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
    }

    #dropdownMenuButton:hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
    }

    #dropdownMenuButton:active {
        position: relative;
        top: 1px;
    }

.challenge-body {
    border-radius: 1rem;
    box-shadow: 0px 0px 30px 15px rgba(0,0,0,0.3);
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: none;
}

iframe {
    height: 576px;
    width: 100%;
}

html {
    height: 100%;
}

    html body {
        background-color: #e6e6e6;
        height: 100%;
    }

.challenge-body h1 {
    font-family: 'Courier New', monospace;
}

.challenge-body p {
    margin-top: 2rem;
    font-family: Helvetica;
    text-align: center;
    font-size: 20px;
}

.row .main-arrows {
    font-size: 15rem;
    cursor: pointer;
    opacity: 0.05;
    transition: opacity .5s ease-in-out;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .row .main-arrows:hover {
        opacity: 0.7;
    }

    .row .main-arrows p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

body .row {
    margin-right: 0;
    margin-left: 0;
    height: 100%;
}

@media screen and (max-width: 1300px) {
    .row .main-arrows {
        font-size: 10rem;
    }
}

@media screen and (max-width: 900px) {
    .row .main-arrows {
        font-size: 7rem;
    }
}

@media screen and (max-width: 650px) {
    .row .main-arrows {
        display: none;
    }

    .row .col-sm-8 {
        max-width: 100%;
        flex: 100%;
    }
}

#right-arrow-container:hover {
    background: rgb(230,230,230);
    background: linear-gradient(90deg, rgba(230,230,230,0.33) 0%, rgba(0,176,255,0.33) 100%);
}

#left-arrow-container:hover {
    background: rgb(0,176,255);
    background: linear-gradient(90deg, rgba(0,176,255,0.33) 0%, rgba(230,230,230,0.33) 100%);
}

#dropdown-row {
    margin-right: -15px;
    margin-left: -20px;
}

.challenges {
    display: none;
}

.navbar-brand {
    cursor: pointer;
}


/*Loading spinner*/
.lds-spinner {
    position: relative;
    width: 80px;
    height: 50%;
    margin: auto;
    margin-top: 15%;
}

    .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
    }

        .lds-spinner div:after {
            content: " ";
            display: block;
            position: absolute;
            top: 6rem;
            left: 2rem;
            width: 0.5rem;
            height: 3rem;
            border-radius: 20%;
            background: #262626;
        }

        .lds-spinner div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -1.1s;
        }

        .lds-spinner div:nth-child(2) {
            transform: rotate(30deg);
            animation-delay: -1s;
        }

        .lds-spinner div:nth-child(3) {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }

        .lds-spinner div:nth-child(4) {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }

        .lds-spinner div:nth-child(5) {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }

        .lds-spinner div:nth-child(6) {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }

        .lds-spinner div:nth-child(7) {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }

        .lds-spinner div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }

        .lds-spinner div:nth-child(9) {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }

        .lds-spinner div:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }

        .lds-spinner div:nth-child(11) {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }

        .lds-spinner div:nth-child(12) {
            transform: rotate(330deg);
            animation-delay: 0s;
        }

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*JavaScript Drum Kit*/
.drumDiv {
    width: 5rem;
    height: 5rem;
    border: solid 2px #00ff00;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #262626;
    border-radius: 1rem;
    cursor: pointer;
}

.drumCharacter {
    font-size: 24px;
    color: #f2f2f2;
    font-weight: 600;
}

.drumSound {
    color: orange;
}

.challengeContainer {
    border-radius: 0.5rem;
    padding: 20px;
}

@media screen and (max-width: 420px) {
    #drumCollection {
        flex-direction: column !important;
    }

    .drumDiv {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

/*Clock*/
#clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

#firstCircle::after {
    content: '';
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

#firstCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    border: 0.5rem solid black;
    position: relative;
}

    #firstCircle .number {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
    }

.number1 {
    transform: rotate(30deg);
}

.number2 {
    transform: rotate(60deg);
}

.number3 {
    transform: rotate(90deg);
}

.number4 {
    transform: rotate(120deg);
}

.number5 {
    transform: rotate(150deg);
}

.number6 {
    transform: rotate(180deg);
}

.number7 {
    transform: rotate(210deg);
}

.number8 {
    transform: rotate(240deg);
}

.number9 {
    transform: rotate(270deg);
}

.number10 {
    transform: rotate(300deg);
}

.number11 {
    transform: rotate(330deg);
}

#firstCircle .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
}

#firstCircle .hour {
    width: 5px;
    height: 40%;
    border-radius: 10px;
    background: black;
    transform: translateX(-50%);
}

#firstCircle .minute {
    width: 4px;
    height: 38%;
    border-radius: 10px;
    background: black;
    transform: translateX(-50%);
}

#firstCircle .second {
    width: 2px;
    height: 36%;
    border-radius: 10px;
    background: red;
    transform: translateX(-50%);
}

/*Update CSS Variables with JS*/
#challenge3Img {
    margin: 2rem;
    padding: 0;
    filter: blur(0);
    border: 10px solid blue;
}


#controls {
    align-items: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    line-height: 1rem;
    font-size: 20px;
    font-family: monospace;
}

/*Flex Panels Image Gallery*/
.challenge_5 {
    display: flex;
    flex-direction: row;
}

.img_challenge5 {
    min-height: 40vh;
    max-width: 20%;
    max-height: 40vh;
    object-fit: cover;
    transition: transform 2s;
}

/*Ajax Type Ahead*/
#City_research {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #City_research li a {
        border: 1px solid #ddd;
        background-color: #f6f6f6;
        padding: 6px;
        font-size: 18px;
        color: black;
        display: block
    }

        #City_research li a:hover {
            background-color: #ccffcc;
        }

#show_more {
    display: none;
}

/*Canvas*/
#canvas_draw {
    height: 500px;
    margin-top: 5px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
}

/*Hold Shift to Check Multiple Checkboxes*/
.inbox {
    max-width: 400px;
    background: white;
    border-radius: 5px;
    color: black;
    margin: auto;
    padding: 20px;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

    .item p {
        margin: 0;
        padding-left: 10px;
    }

/*Custom HTML5 Video Player*/
#challenge_11 .player {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

#challenge_11#player_video {
    margin: auto;
    width: -webkit-fill-available;
}

#challenge_11 #video_controls {
    background: #1a1a1a;
    padding: 10px;
    opacity: 0;
    position: absolute;
    display: flex;
}

#challenge_11 .mouseOn {
    visibility: visible !important;
    animation-name: fade-in;
    animation-duration: 1s;
}

#challenge_11 .mouseOut {
    animation-name: fade-out;
    animation-duration: 1s;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes fade-out {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 0;
    }
}

#challenge_11 #playPausebtn, #slider, #videoTime, #mute, #volume_slider, #fullscreen_btn {
    margin-right: 20px;
    cursor: pointer;
    color: #ffffff;
}

#challenge_11 #playPausebtn, #mute, #fullscreen_btn {
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color: #7892c2;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 0px 11px;
    text-decoration: none;
}

    #challenge_11 #playPausebtn:hover, #mute:hover, #fullscreen_btn:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        background-color: #476e9e;
        color: #ffffff;
    }
/*Slide in on scroll*/

#challenge_13 .site-wrap {
    color: black;
    max-width: 700px;
    margin: 100px auto;
    background: white;
    padding: 40px;
    text-align: justify;
}

#challenge_13 .align-left {
    float: left;
    margin-right: 20px;
}

#challenge_13.align-right {
    float: right;
    margin-left: 20px;
}

#challenge_13 .slide-in {
    opacity: 0;
    transition: all .5s;
}

#challenge_13 .align-left.slide-in {
    transform: translateX(-30%) scale(0.95);
}

#challenge_13.align-right.slide-in {
    transform: translateX(30%) scale(0.95);
}

#challenge_13 .slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
}


/*LocalStorage and Event Delegation*/
#challenge_15 .wrapper {
    padding: 20px;
    max-width: 350px;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    margin: auto;
    padding: 20px;
    color: black;
}


.plates {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

    .plates li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px 0;
        font-weight: 100;
        display: flex;
        cursor: pointer;
    }

    .plates label {
        flex: 1;
        cursor: pointer;
        padding-top: 5px;
        padding-left: 20px;
    }

    .plates input {
        margin: auto;
        cursor: pointer;
    }



.add-items {
    margin-top: 20px;
}

    .add-items input {
        padding: 10px;
        outline: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

/*CSS Text Shadow Mouse Move effect*/
.hero {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

    .hero h1 {
        text-shadow: 10px 10px 0 rgba(0,0,0,1);
        font-size: 100px;
    }

/*Unreal Webcam Fun*/
#challenge_19 .photobooth {
    background: white;
    max-width: 150rem;
    margin: 2rem auto;
    border-radius: 2px;
}

    /*clearfix*/
    #challenge_19 .photobooth:after {
        content: '';
        display: block;
        clear: both;
    }

#challenge_19 .photo {
    width: 100%;
    float: left;
}

#challenge_19 .player_challenge_19 {
    position: absolute;
    top: 20px;
    width: 200px;
}

/*
  Strip!
*/

.strip {
    padding: 2rem;
}

    .strip img {
        width: 100px;
        overflow-x: scroll;
        padding: 0.8rem 0.8rem 2.5rem 0.8rem;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        background: white;
    }

    .strip a:nth-child(5n+1) img {
        transform: rotate(10deg);
    }

    .strip a:nth-child(5n+2) img {
        transform: rotate(-2deg);
    }

    .strip a:nth-child(5n+3) img {
        transform: rotate(8deg);
    }

    .strip a:nth-child(5n+4) img {
        transform: rotate(-11deg);
    }

    .strip a:nth-child(5n+5) img {
        transform: rotate(12deg);
    }

/*Voice recognize*/


.words {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    color: black;
}

    .words:before {
        content: '';
        position: absolute;
        width: 4px;
        top: 0;
        left: 30px;
        bottom: 0;
        border: 1px solid;
        border-color: transparent #efe4e4;
    }

/*Geolocation based Speedometer and Compass*/
#map {
    margin: auto;
}

/*Follow Along Link Highlighter*/

#challenge_22  {
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%), linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%), linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%), linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

.challenge_22-wrapper {
    margin: 0 auto;
    max-width: 500px;
    font-size: 20px;
    line-height: 2;
    position: relative;
}

#challenge_22 .challenge_22-wrapper a {
    text-decoration: none;
    color: black;
    background: rgba(0,0,0,0.05);
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.highlight {
    transition: all 0.2s;
    border-bottom: 2px solid white;
    position: absolute;
    top: 0;
    background: white;
    left: 0;
    z-index: 1;
    border-radius: 20px;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#challenge_22 .menu {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 100px 0;
    position: relative;
    z-index: 2;
}

    #challenge_22 .menu a {
        display: inline-block;
        padding: 5px;
        margin: 0 20px;
        color: black;
    }

/*Speech Synthesis*/
.voiceinator {
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    background: white;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

    .voiceinator h1 {
        width: calc(100% + 4rem);
        margin: -2rem 0 2rem -2rem;
        padding: .5rem;
        background: #ffc600;
        border-bottom: 5px solid #F3C010;
        text-align: center;
        font-family: 'Pacifico', cursive;
        text-shadow: 3px 3px 0 #F3C010;
    }

    .voiceinator input,
    .voiceinator button,
    .voiceinator select,
    .voiceinator textarea {
        width: 100%;
        display: block;
        margin: 10px 0;
        padding: 10px;
        border: 0;
        background: #F7F7F7;
        outline: 0;
    }

textarea {
    height: 20rem;
}

.voiceinator button {
    background: #ffc600;
    border: 0;
    width: 49%;
    float: left;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0;
    font-size: 2rem;
    border-bottom: 5px solid #F3C010;
    cursor: pointer;
    position: relative;
}

    .voiceinator button:active {
        top: 2px;
    }

    .voiceinator button:nth-of-type(1) {
        margin-right: 2%;
    }

/*Sticky Nav*/
#challenge_24 .site-wrap {
    max-width: 700px;
    margin: 70px auto;
    background: white;
    padding: 40px;
    text-align: justify;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
    color: #333333;
}

}

#challenge_24 header {
    text-align: center;
    height: 50vh;
    background: url(https://source.unsplash.com/GKN6rpDr0EI/960x640) bottom center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#challenge_24 h1 {
    color: white;
    font-size: 7vw;
    text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}

#challenge_24 nav {
    background: black;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
}

    #challenge_24 nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    #challenge_24 nav li {
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

#challenge_24 li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all .5s;
    font-weight: 600;
    font-size: 30px;
}

    #challenge_24 li.logo a {
        color: black;
    }

#challenge_24 nav a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: white;
    transition: all 0.2s;
    text-transform: uppercase;
}
/*Stripe Follow Along Dropdown Navigation*/
#challenge_26 {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%), linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%), linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%), linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

#challenge_26 h2 {
    margin-top: 0;
    padding-top: .8em;
}

#challenge_26 nav {
    position: relative;
    perspective: 600px;
}

#challenge_26 .cool > li > a {
        color: yellow;
        text-decoration: none;
        font-size: 20px;
        background: rgba(0,0,0,0.2);
        padding: 10px 20px;
        display: inline-block;
        margin: 20px;
        border-radius: 5px;
    }

#challenge_26 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

    #challenge_26 .cool > li {
        position: relative;
        display: flex;
        justify-content: center;
    }

    #challenge_26 .dropdown {
        opacity: 0;
        position: absolute;
        overflow: hidden;
        padding: 20px;
        top: -20px;
        border-radius: 2px;
        transition: all 0.5s;
        transform: translateY(100px);
        will-change: opacity;
        display: none;
    }

    #challenge_26 .trigger-enter .dropdown {
        display: block;
    }

    #challenge_26 .trigger-enter-active .dropdown {
        opacity: 1;
    }

    #challenge_26 .dropdownBackground {
        width: 100px;
        height: 100px;
        position: absolute;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
        transition: all 0.3s, opacity 0.1s, transform 0.2s;
        transform-origin: 50% 0;
        display: flex;
        justify-content: center;
        opacity: 0;
    }

        #challenge_26 .dropdownBackground.open {
            opacity: 1;
        }

    #challenge_26 .arrow {
        position: absolute;
        width: 20px;
        height: 20px;
        display: block;
        background: white;
        transform: translateY(-50%) rotate(45deg);
    }

    #challenge_26 .bio {
        min-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.7;
    }

        #challenge_26 .bio img {
            float: left;
            margin-right: 20px;
        }

    #challenge_26 .courses {
        min-width: 300px;
    }

        #challenge_26 .courses li {
            padding: 10px 0;
            display: block;
            border-bottom: 1px solid rgba(0,0,0,0.2);
        }

    #challenge_26 .dropdown a {
        text-decoration: none;
        color: #ffc600;
    }

#challenge_26 a.button {
    background: black;
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}
    #challenge_26 .button[href*=twitter] {
        background: #019FE9;
    }

    #challenge_26 .button[href*=facebook] {
        background: #3B5998;
    }

    #challenge_26 .button[href*=courses] {
        background: #ffc600;
    }

/*Click and Drag to Scroll*/

#challenge_27 .items {
    height: 800px;
    padding: 100px;
    width: 100%;
    border: 1px solid white;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    position: relative;
    background: rgba(255,255,255,0.1);
    font-size: 0;
    perspective: 500px;
}

    #challenge_27 .items.active {
        background: rgba(255,255,255,0.3);
        cursor: grabbing;
        cursor: -webkit-grabbing;
        transform: scale(1);
    }

#challenge_27 .item {
    width: 200px;
    height: calc(100% - 40px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 100;
    color: rgba(0,0,0,0.15);
    box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
}

    #challenge_27 .item:nth-child(9n+1) {
        background: dodgerblue;
    }

    #challenge_27 .item:nth-child(9n+2) {
        background: goldenrod;
    }

    .item:nth-child(9n+3) {
        background: paleturquoise;
    }

#challenge_27 .item:nth-child(9n+4) {
    background: gold;
}

#challenge_27 .item:nth-child(9n+5) {
    background: cadetblue;
}

#challenge_27 .item:nth-child(9n+6) {
    background: tomato;
}

#challenge_27 .item:nth-child(9n+7) {
    background: lightcoral;
}

#challenge_27 .item:nth-child(9n+8) {
    background: darkslateblue;
}

#challenge_27 .item:nth-child(9n+9) {
    background: rebeccapurple;
}

#challenge_27 .item:nth-child(even) {
    transform: scaleX(1.31) rotateY(40deg);
}

#challenge_27 .item:nth-child(odd) {
    transform: scaleX(1.31) rotateY(-40deg);
}

/*Video Speed Controller UI*/
#challenge_28 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4C4C4C;
    background-size: cover;
    font-family: sans-serif;
}

#challenge_28 .wrapper {
    width: 850px;
    display: flex;
}

#challenge_28 video {
    box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
}

    #challenge_28 .speed {
        background: #efefef;
        flex: 1;
        display: flex;
        align-items: flex-start;
        margin: 10px;
        border-radius: 50px;
        box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
        overflow: hidden;
        cursor: pointer;
    }

#challenge_28 .speed-bar {
    width: 100%;
    background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    color: white;
    height: 16.3%;
    cursor:pointer;
}
/*Countdown Clock*/
#challenge_29 {
    margin: 0;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    background: #8E24AA;
    background: linear-gradient(45deg, #42a5f5 0%,#478ed1 50%,#0d47a1 100%);
}

    #challenge_29 .display__time-left {
        font-weight: 100;
        font-size: 20rem;
        margin: 0;
        color: white;
        text-shadow: 4px 4px 0 rgba(0,0,0,0.05);
    }

#challenge_29 .timer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#challenge_29 .timer__controls {
    display: flex;
}

    #challenge_29 .timer__controls > * {
        flex: 1;
    }

    #challenge_29 .timer__controls form {
        flex: 1;
        display: flex;
    }

    #challenge_29 .timer__controls input {
        flex: 1;
        border: 0;
        padding: 2rem;
    }

#challenge_29.timer__button {
    background: none;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    background: rgba(0,0,0,0.1);
    border-bottom: 3px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    padding: 1rem;
    font-family: 'Inconsolata', monospace;
}

    #challenge_29 .timer__button:hover,
    #challenge_29 .timer__button:focus {
        background: rgba(0,0,0,0.2);
        outline: 0;
    }

#challenge_29 .display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#challenge_29 .display__end-time {
    font-size: 4rem;
    color: white;
}

@media screen and (max-width: 960px) {
    #challenge_29 .timer__controls {
        font-size: 0.7rem;
    }
        #challenge_29 .timer__controls input {
        max-width:120px;
        }
}